footer {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 20px;
    font-size: 24px;
    background-color: #324D79;
    color: #FCF1DD;
    justify-content: flex-start;
    align-content: space-evenly;
}

.column {
    width: 250px;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 1.5em 1.5em;
    line-height: 2em;
}

footer img {
    width: 80px;
}




@media (max-width: 1200px) {
    footer {
        justify-content: left;
        font-size: 16px;
        padding: 20px 10px;
    }

    .column {
        width: 250px;
        padding: 10px;
        margin: 10px 15px;
        line-height: 1.7em;
    }

    footer img {
        width: 40px;
    }
}


@media (max-width: 900px) {
    footer {
        justify-content: flex-start;
        font-size: 16px;
        padding: 20px 10px;
    }

    .column {
        width: 240px;
        padding: 10px;
        margin: 10px 15px;
        line-height: 1.7em;
    }

    footer img {
        width: 40px;
    }
}

@media (max-width: 650px) {
    footer {
        justify-content: flex-start;
        font-size: 16px;
        padding: 20px 10px;
    }

    .column {
        width: 380px;
        padding: 10px;
        margin: 10px 15px;
        line-height: 1.7em;
    }

    footer img {
        width: 40px;
    }
}